<div class="exercise-content">

  <div class="overlay-header">
    <h2>Add Exercise</h2>
  </div>

  <div class="overlay-content">
    

    <!-- Exercises -->
    <div *ngIf="selectedMuscleGroupId !==null" class="exercises-section">

  <h3>Exercises</h3>

  <div *ngIf="exercises().length === 0" class="no-exercises">
    No exercises for this group
  </div>

  <div class="exercises-grid">
    <div *ngFor="let exercise of exercises()" class="exercise-card"
         [class.selected]="exercise === selectedExercise"
         (click)="selectExercise(exercise)">
      <h4>{{ exercise.name }}</h4>
      <p><strong>Muscle Group ID (FK):</strong> {{ exercise.muscleGroupId }}</p>
      <p>{{ exercise.description }}</p>
      <small>ID: {{ exercise.exerciseId }}</small>
        </div>
      </div>
      
      <button class="add-btn" [disabled]="!selectedExercise" (click)="addExercise()">
        Add {{ selectedExercise?.name || 'Exercise' }}
      </button>
    </div>
  </div>
</div>
